* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */
.bg-1 {
    background-color: #1A0B2E;
    border-bottom: 2px solid #412567;
}

.bg-2 {
    background-color: #1A0B2E;
}

.bg-3 {
    background-color: #230E3D;
}

.container {
    max-width: 1200px;
    /* max-width: 992px; */
    margin: 0 auto;
}


/* navbar styles section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
}

.nav-btn {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    transition: all .5s ease;
    cursor: pointer;
}

.nav-btn:hover {
    background: linear-gradient(30deg, #9100F8, #FB09B4, #F7E93F);
}

.hamburger {
    display: none;
}

/* banner styles section */
.banner {
    background: url(../assets/hero-bg.png);
    /* height: 91.6vh; */
    /* background-repeat: repeat-x; */
    background-position: center;
    /* background-size: cover; */
    position: relative;
    padding: 100px 0;
}

.banner-img {
    /* height: 78%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hero-bg-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 22%;
    position: absolute;
    top: 16%;
    top: 95px;
    padding-top: 6%;
    left: 39%;
    left: 765px;
} */

.microphone {
    /* width: 7%; */
    position: absolute;
    /* top: 29%;
    left: 46.5%; */
}

.circle-new {
    position: relative;
}

.new {
    /* width: 6%; */
    position: absolute;
    /* top: 19%; */
    /* left: 53.5%; */
    /* top: 180px; */
    left: 230px;
}

.banner-content {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    /* padding-top: 33%; */
    /* gap: 40px; */
    margin-top: 40px;

}

.banner-title {
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
}

.banner-description {
    color: #ffffff;
    margin-bottom: 24px;
    opacity: 0.8;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-btn1 {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    color: #ffffff;
}

.banner-btn1:hover {
    background: linear-gradient(30deg, #9100F8, #FB09B4, #F7E93F);
}

.banner-btn2 {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    font-weight: 600;
    color: #00FF88;
}

/* background circle animation */
.animated-pulse {
    border-radius: 50%;
    animation: logo-pulse 3s infinite ease-in-out;
}

@keyframes logo-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(236, 72, 153, 0.4);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 50px rgba(236, 72, 153, 0.7), 0 0 80px rgba(139, 92, 246, 0.3);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(236, 72, 153, 0.4);
    }
}

/* microphone animation */
.microphone-pulse {
    animation: mic-pulse 3s infinite ease-in-out;
}

@keyframes mic-pulse {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.05);

    }

    100% {
        transform: scale(1);

    }
}

/* about section styles */
.about {
    padding: 50px 0 120px;
}

.about-content {
    text-align: center;
    color: #ffffff;
}

.about-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-description {
    line-height: 30px;
    opacity: 0.8;
    font-weight: 300;

}

.about-footer-description {
    line-height: 30px;
    opacity: 0.8;
    font-weight: 300;
    margin-top: 20px;
}

.about-content hr {
    margin: 80px 0;
    opacity: 0.1;
}

.about-rating {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    text-align: center;
}

.about-rating h1 {
    color: #00FF88;
}

.about-rating p {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 30px;
}

/* choose section styles */
.choose {
    padding: 120px 0;
}

.choose-title {
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.choose-grid {
    /* background-color: #35116540; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 30px;
}

.choose-content-1 {
    background-color: #35116540;
    grid-column: span 1;
    grid-row: span 2;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.choose-content-2 {
    background-color: #35116540;
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.choose-content-3 {
    background-color: #35116540;
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.choose-content-4 {
    background-color: #35116540;
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.choose-content-5 {
    background-color: #35116540;
    grid-column: span 1;
    grid-row: span 1;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.choose-content-title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.choose-content-description {
    color: #ffffff;
    opacity: 0.6;
    font-weight: 300;
}

/* episode section styles */
.episode {
    padding: 120px 0;
}

.episode-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.ep-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

.ep-video iframe {
    width: 380px;
    height: 214px;
    border-radius: 24px 24px 0 0;
}

.ep-content {
    background-color: #250D44;
    padding: 24px;
    border-radius: 0 0 24px 24px;
    width: 380px;
    height: 214px;
    margin-top: -3px;
}

.ep-content-title {
    font-size: 24px;
    color: #ffffff;
    /* text-align: center; */
}

.ep-content-description {
    color: #ffffff;
    opacity: 0.6;
    font-weight: 300;
    /* text-align: center; */
    padding: 12px 0;
}

.ep-time {
    font-weight: 600;
    color: #00FF88;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

/* host section styles */
.host {
    padding-bottom: 120px;
}

.host-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

.host-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    gap: 30px;
}

.host-name {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.host-description {
    color: #ffffff;
    line-height: 24px;
    opacity: 0.6;
    font-weight: 300;
    margin: 16px 0;
}

.social-links {
    display: flex;
    gap: 8px;
}

.link {
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
}

/* footer section styles */
.footer {
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    padding: 120px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 32px 0;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
}

.copy {
    color: #ffffff;
    opacity: 0.6;
    font-weight: 300;
}







/* responsive design mobile device */
@media screen and (max-width: 576px) {

    /* navbar responsive section */
    .navbar {
        margin: 0 20px;
    }

    .nav-links,
    .nav-btn {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    /* banner responsive section */
    .banner-title {
        font-size: 40px;
    }

    .banner {
        background-size: cover;
        /* background-position: center; */
        padding: 60px 20px 20px 20px;

    }

    .banner-btn {
        padding-bottom: 40px;
    }

    /* about responsive section */
    .about {
        padding: 40px 20px;
    }

    .about-title {
        font-size: 32px;
    }

    .about-rating {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .about-content hr {
        margin: 40px 0;
    }

    /* choose responsive section */
    .choose {
        padding: 40px 20px;
    }

    .choose-title {
        font-size: 30px;
    }

    .choose-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 120px);
        gap: 16px;
        /* padding: 0 20px; */
    }

    .choose-content-1 {
        grid-column: span 3;
        grid-row: span 2;
        padding: 24px;
        border-radius: 24px;
    }

    .choose-content-2 {
        grid-column: span 3;
        grid-row: span 2;
        padding: 24px;
        border-radius: 24px;
    }

    .choose-content-3 {
        grid-column: span 3;
        grid-row: span 2;
        padding: 24px;
        border-radius: 24px;
    }

    .choose-content-4 {
        grid-column: span 3;
        grid-row: span 2;
        padding: 24px;
        border-radius: 24px;
    }

    .choose-content-5 {
        grid-column: span 3;
        grid-row: span 2;
        padding: 24px;
        border-radius: 24px;
    }

    /* episodes responsive section */
    .episode {
        padding: 40px 20px;
    }

    .ep-video iframe {
        width: 350px;

    }

    .ep-content {
        width: 350px;
    }

    .ep-container {
        max-width: 576px;
        margin: 0 auto;
    }

    .episode-grid {
        grid-template-columns: 1fr;
    }

    .single-episode {
        margin-bottom: 16px;
    }

    /* host responsive section */
    .host-title {
        font-size: 32px;
    }

    .host-box {
        flex-direction: column;
        text-align: center;
    }

    .host-name {
        font-size: 24px;
    }

    .social-links {
        justify-content: center;
    }

    .host {
        padding: 0 20px 40px 20px;
        /* padding-bottom: 40px; */
    }

    /* footer responsive section */
    .footer {
        background-image: url(../assets/footer-bg.png);
        background-size: cover;
        padding: 30px 20px;
    }

    .footer-techwave {
        width: 219px;
        height: 32px;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 16px;
        margin: 24px auto;
    }

}