* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */
.bg-1 {
    background-color: #1A0B2E;
    border-bottom: 2px solid #412567;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* navbar styles section */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
}

.nav-btn {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    transition: all .5s ease;
}

.nav-btn:hover {
    background: linear-gradient(30deg, #9100F8, #FB09B4, #F7E93F);
}