* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */
.bg-1 {
    background-color: #1A0B2E;
    border-bottom: 2px solid #412567;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* navbar styles section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
}

.nav-btn {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    transition: all .5s ease;
    cursor: pointer;
}

.nav-btn:hover {
    background: linear-gradient(30deg, #9100F8, #FB09B4, #F7E93F);
}

.hamburger {
    display: none;
}

/* banner styles section */
.banner{
    background: url(../assets/hero-bg.png);
    height: 91.6vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
}
/* .banner-img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hero-bg-circle{
    width: 22%;
    position: absolute;
    top: 16%;
    /* padding-top: 6%; */
    left: 39%;
}

.microphone{
    width: 7%;
    position: absolute;
    top: 29%;
    left: 46.5%;
}
.new{
    width: 6%;
    position: absolute;
    top: 18%;
    left: 55%;
}
.banner-content{
    text-align: center;
    padding-top: 33%;
    
}
.banner-title{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
}
.banner-description{
    color: #ffffff;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.banner-btn1{
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    color: #ffffff;
}
.banner-btn2{
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    font-weight: 600;
    color: #00FF88;
}








/* responsive design breakpoints */
@media screen and (max-width: 576px) {
    .navbar{
        margin: 0 20px;
    }
    .nav-links,
    .nav-btn {
        display: none;
    }

    .hamburger {
        display: inline;
    }
}